{% extends 'base.html.twig' %}

{% block title %}Modification des gestionnaires{% endblock %}

{% block body %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <a href="{{ path('admin_gestionnaire_index') }}">
            <button type="button" class="btn btn-primary btn-labeled"><i class="zmdi zmdi-assignment-o zmdi-hc-lg"></i>
                  <span class="btn-label btn-label-right">Liste des gestionnaires</span>
            </button>
          </a>
        </div>
          <h3 class="m-y-0">Modifcation</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
            {{ form_start(edit_form, {'attr': {'data-toggle': 'validator'}} )}}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" class="control-label">Departement</label>
                      {{ form_widget(edit_form.departement)}}
                      {{ form_errors(edit_form.departement)}}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" class="control-label">Nom utilisateur</label>
                      {{ form_widget(edit_form.user)}}
                      {{ form_errors(edit_form.user)}}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" class="control-label">Nom</label>
                      {{ form_widget(edit_form.nom)}}
                      {{ form_errors(edit_form.nom)}}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" class="control-label">Prenoms</label>
                      {{ form_widget(edit_form.prenoms)}}
                      {{ form_errors(edit_form.prenoms)}}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" class="control-label">Fonction</label>
                      {{ form_widget(edit_form.fonction)}}
                      {{ form_errors(edit_form.fonction)}}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" class="control-label">Contact</label>
                      {{ form_widget(edit_form.contact)}}
                      {{ form_errors(edit_form.contact)}}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                {{ form_widget(edit_form) }}
                <div class="col-sm-6 col-md-4 col-sm-offset-6 col-md-offset-8">
                  <a href="{{ path('admin_gestionnaire_index')}}" class="btn btn-primary btn-block"/>Modifier</a>
                  <input type="submit" class="btn btn-primary btn-block" value="Modifier" />
                </div>
            {{ form_end(edit_form) }}
          </div>
        </div>
      </div>
    </div>

{% endblock %}
